body {
	background-color: whitesmoke;
	margin-left: 15%;
}
.table {display: table;}
.tr {display: table-row grid;} 
.th {display: table-cell;}
@media screen and (min-width: 600px){
	body{
		background-color: lightyellow;
		color: skyblue;
	}
}
textarea {float: right;}
img {float: right;}